{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/foodlogo.png">
    </a>
    <h1>Recipe Planet</h1>
    <p>This is a simple application where users can search and upload food recipes</p>
    <a type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-flash"></span> Get Started</a>
    <a type="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-user"></span> Login</a>
  </div>
    

</div>

{% endblock %}
