{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/foodlogo.png">
    </a>
    <h1>Recipe Planet</h1>
    <p> This is a simple application where users can search and upload food recipes</p>
    <a type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-flash"></span> Get Started</a>
    <a type="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-user"></span> Login</a>
  </div>
    
<body>
    <h2>About us</h2>
     With more 350,000 recipes, Recipe Planet makes cooking simple. With this cooking app, you’ll be inspired and organized in the kitchen and on the go. Some of the highlights include access to s massive library of recipes, the ability to add snapshots of your own recipes, the option to make a grocery list in the app based on recipes you’d like to create, and help to make your meal planning a lot easier with the weekly organizer.




    <h2>Popular recipes</h2>
    
    <img src="/images/Quinoabowl.png">
    <img src="/images/shrimpplate.png">
    <img src="/images/avocadotoast.png">
</body>
</div>

{% endblock %}
