{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/foodlogo.png">
    </a>
    <h1>Recipe Planet</h1>
    <p> This is a simple application where users can search and upload food recipes</p>
    <a type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-flash"></span> Get Started</a>
    <a type="button" class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-user"></span> Login</a>
  </div>
   </div> 
<body>
    <h2>About us</h2>
     With more 350,000 recipes, Recipe Planet makes cooking simple. With this cooking app, you’ll be inspired and organized in the kitchen and on the go. Some of the highlights include access to s massive library of recipes, the ability to add snapshots of your own recipes, the option to make a grocery list in the app based on recipes you’d like to create, and help to make your meal planning a lot easier with the weekly organizer.




    <h2>Popular recipes</h2>
    
    <img src="/images/Quinoabowl.png" height="200px" width="30%">
    <img src="/images/shrimpplate.png"  height="200px" width="30%">
    <img src="/images/avocadotoast.png"  height="200px" width="30%">
    
<h2>Recipe of the day</h2>
    
 Preparation 3 mins Cook Time 10 mins <br>
Serves 2 servings  <br>   
ADJUST SERVINGS<br>
Ingredients<br>
2 teaspoons toasted sesame oil<br>
1/2 teaspoon freshly grated ginger<br>
1 teaspoon minced garlic<br>
2 cups cooked quinoa, cooled<br>
1 cup kimchi, chopped<br>
2 teaspoons kimchi “juice” (the liquid from the jar)<br>
2 teaspoons gluten-free tamari<Br>
1 teaspoon hot sauce (optional)<br>
2 cups kale, finely chopped<br>
2 eggs<br>
1/4 cup sliced green onions for garnish (optional)<br>
Fresh ground pepper for garnish (optional)<br>
Instructions<br>
Heat the oil in a large skillet over medium heat. Add ginger and garlic and saute for 30 – 60 seconds until fragrant. Add the quinoa and kimchi and cook until hot, about 2 – 3 minutes. Stir in kimchi juice, tamari and hot sauce if using. Turn to low and stir occasionally while you prepare the other ingredients.
In a separate skillet, cook the eggs on low until the whites have cooked through but the yolks are still runny, about 3 – 5 minutes.
Steam the kale in a separate pot for 30 – 60 seconds until soft.
Assemble the bowls, dividing the kimchi-quinoa mixture and kale evenly between two dishes. Top with green onions and fresh pepper if using.

</body>


{% endblock %}
